@font-face {
    font-family: "Exo2-Regular";
    src: url('../fonts/Exo2-Regular.otf');
}
@font-face {
    font-family: "Exo2-Medium";
    src: url('../fonts/Exo2-Medium.otf');
}
.m-b-10{
  margin-bottom: 10px;
}
.label-g-c {
    color: gray;
    font-size: 18px;
    line-height: 36px;
    padding-left: 15px;
}
#resultado th {
    padding: 14px;
    border: 5px solid white;

    font-size: 16px;
    font-family: "Exo2-Regular";
}
#resultado .ver{
  color:white !important;
}
.data-left{
  text-align: right;
font-size: 45px;
}
.img_mapa{
  width: 182px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -40px;
}
.t_r_01 {
    width: 50%;
    float: right;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 20px;
    background-color: #575756;
}
.t_r_02 {
  width: 50%;
  float: right;
  color: white;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  background-color: #B2B2B2;
}
.t_r_03 {
  width: 50%;
  float: right;
  color: white;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  background-color: #9D9D9C;
}
.t_r_04 {
  width: 50%;
    float: right;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 20px;
    background-color: #EDEDED;
}

.bar {
    height: 35px;
}
.row.block-tiempo_residencia {
    margin-top: 30px;
}
.row_panel{
  padding: 40px 0px;
}
.header-padding{
  margin-bottom: 25px;
}
.row h2 {
    font-family: "Exo2-Regular", Arial, Tahoma, sans-serif !important;
    font-weight: bold !important;
    margin: 20px 0px!important;
    display: block;
    min-height: 25px;

  }
  * {
    font-family: "Exo2-Regular", Arial, Tahoma, sans-serif !important;
  }
.h-20{
  height: 20px !important;
}
.bar-20{
  line-height: 20px !important;
    font-size: 17px !important;
}
.bar-30{
  line-height: 30px !important;
    font-size: 17px !important;
}
.q__e {
    text-align: center;
    color: white;
}
.bar {
    margin-top: 2px;
    margin-bottom: 2px;
}
.t-right {
    text-align: right;
    padding-right: 10px;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
}
.t-left {
    text-align: left;
    padding-right: 10px;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
}
.chart-15{
  height: 15px;
}
.left{
  float: right;
}
.l-left{
  float: left;
}
.right{
  float: right;
}

/* Colors */
.bg-white {
    background-color: white;
    border-left: 2px solid white;
    margin-bottom: 2px;
}
.bg-green {
    background-color: green;
    border-left: 2px solid green;
    margin-bottom: 2px;
}
.bg-blue {
    background-color: #0095df;
    border-left: 2px solid #0095df;
    margin-bottom: 2px;
}
.bg-gray {
    background-color: #4d4d4c;
    border-left: 2px solid #4d4d4c;
    margin-bottom: 5px;
}
.green {
  color:green !important;
}
.blue{
  color: #0095df !important;
}
.gray{
  color:#4d4d4c !important;
}
.data_porcent {
    float: right;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}
/* Colors */
.bg-348EA9{
  background-color: #348EA9;
}
.bg-a5f6ff{
  background-color: #a5f6ff;
}
.bg-73e3f6{
  background-color: #73e3f6;
}
.bg-59d3df{
  background-color: #59d3df;
}
.bg-001923{
  background-color: #001923;
}
.bg-53BB9B{
  background-color: #53BB9B;
}
.bg-006633{
  background-color: #006633;
}
.bg-2fac66{
  background-color: #2fac66;
}
.bg-1d1d1b{
  background-color: #1d1d1b;
}
.bg-b2b2b2{
  background-color: #b2b2b2;
}
.bg-e30613{
  background-color: #e30613;
}
.bg-B17F4A{
  background-color: #B17F4A;
}
.bg-dadada{
  background-color: #dadada;
}
.bg-ededed{
  background-color: #ededed;
}
.bg-7D4E24{
  background-color: #7D4E24;
}
.bg-CA9E67{
  background-color: #CA9E67;
}
.bg-3C3C3B{
  background-color: #3C3C3B;
}
.bg-7B6A58{
  background-color: #7B6A58;
}


.bg-575756{
  background-color: #575756;
}
.bg-878787{
  background-color: #878787;
}


.bg-3764B5{
  background-color: #3764B5;
}
.bg-5A6CBA{
  background-color: #5A6CBA;
}
.bg-394F7A{
  background-color: #394F7A;
}
.bg-72C4F2{
  background-color: #72C4F2;
}
.bg-CFDAFF{
  background-color: #CFDAFF;
}

.title-internal {
    background-color: #8ff3fe !important;
}
.background-dark{
  background-color: #001923 !important;
  color: white !important;
}
.background-dark a{
  color: white !important;
}
.label-questions{
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
}
.btn-redes {
    width: 14.4%;
    float: left;
    background-color: #001923 !important;
    padding: 8.5px 0px;
    margin-right: 4px;
}
.ambiental{
  background: #009640;
  padding: 10px;
}
.social{
  background: #575756;
  padding: 10px;
}
.economico{
  background: #009FE3;
  padding: 10px;
}
.btn-home {
    height: 55px;
    background-color: #001923;
    width: 51px;
}

.col-md-9 {
    position: relative;
    top: 15px;
    text-align: center;
}

.h2, h2 {
    font-size: 23px !important;
    line-height: 25px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}
h4{
  color: white;
}
span.menu-text {
    color: #48d8ff;
    font-size: 20px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.px-100{
  padding-left: 100px;
  padding-right: 100px;
}
.fz-20{
  font-size: 20px;
}
.pt-10{
  padding-top: 10px;
}
.contenido{
      padding-left: 30px;
      padding-right: 30px;
      background: white;
}
form {
    padding: 0px;
    padding-top: 0px !important;
}
select.form-control {
    background-color: #dadada;
}

.numbers h3 {
  background: #48d8ff;
  color: #001923;
  padding: 10px;
  line-height: initial;
  text-align: center;
}

h3 {
    background: #001923;
    color: white;
    padding: 10px;
    line-height: initial;
}
.grey-left{
    background: #dadada;
    margin-right: 10px;
    margin-bottom: 10px;
}
.grey-right{
    background: #dadada;
    margin-bottom: 10px;
}

.grey-full{
    background: #dadada;
}
.mleft-5{
    margin-left: 5px;
}
.mleft-10{
    margin-left: 10px;
}
.mleft-20{
    margin-left: 20px;
}
.mleft-50{
    margin-left: 50px;
}
.mbottom-5{
    margin-bottom: 5px;
}
.mbottom-10{
    margin-bottom: 10px;
}
.mtop-5{
    margin-top: 5px;
}
.mtop-10{
    margin-top: 10px !important;
}
.mtop-25{
  margin-top: 25px !important;
}

.my-10{
  margin-bottom: 10px;
  margin-top: 10px;
}

.p-3{
    padding: 3px;
}
.p-5{
    padding: 5px;
}
.pleft-10 {
    padding-left: 10px;
}
.text-center{
  text-align: center;
}
.white{
  color: white;
}
textarea#comment {
    background-color: #dadada;
    margin-bottom: 10px;
}
button.btn.btn-default {
    width: 100%;
    background-color: #001923;
    color: white;
    font-size: 25px;
}
html{
  font-weight: 300;
}
label{
  font-weight: 500;
}
table{
  width: 90%;
}
td{
  text-align: right;
  padding: 3px;
}
.icono{
  width: 4%;
}
 table #mojana{
  text-align: center;
  width: 80% !important;
  margin: 0 auto !important;
}
#mojana th {
    padding: 14px;
    border: 5px solid white;
}
#mojana td{
  padding: 14px;
  border: 5px solid white;
}
.title{
  text-align: center;
  background-color: #a0f5fc;
  color: #112b44;
}
.arrow{
  text-align: center;
  background-color: #a0f5fc;
  color: #112b44;
}
.ver {
    color: #798c90;
    background-color: rgba(160, 245, 252, 0.82);
}
.titlefooter{
  background-color: #063040;
  color: #62d8f6;
}
.title-objetivos{
    writing-mode: vertical-lr;
    transform: rotate(270deg);
    color: white;
    background-color: #063040;
}
.ambiental{
  background-color: #575755;
  color: white;
}
.social{
  background-color: #00963f;
  color: white;
}
.economico{
  background-color: #009fe3;
  color: white;
}
.tr-ambiental{
  background-color: #575755;
  text-align: center;
}
.tr-social{
  background-color: #00963f;
}
.tr-economico{
  background-color: #009fe3;
}

/*
.container {
    border-bottom: 5px solid;
}
*/
