.title-internal {
    background-color: #8ff3fe !important;
}
.background-dark{
  background-color: #001923 !important;
  color: white !important;
}
.background-dark a{
  color: white !important;
}
.label-questions{
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
}
.btn-redes {
    width: 14.4%;
    float: left;
    background-color: #001923 !important;
    padding: 8.5px 0px;
    margin-right: 4px;
}
.ambiental{
  background: #009640;
  padding: 10px;
}
.social{
  background: #575756;
  padding: 10px;
}
.economico{
  background: #009FE3;
  padding: 10px;
}
.btn-home {
    height: 55px;
    background-color: #001923;
    width: 51px;
}

.col-md-9 {
    position: relative;
    top: 15px;
    text-align: center;
}

.h2, h2 {
    font-size: 23px !important;
    line-height: 25px !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
}
h4{
  color: white;
}
span.menu-text {
    color: #48d8ff;
    font-size: 20px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.px-100{
  padding-left: 100px;
  padding-right: 100px;
}
.fz-20{
  font-size: 20px;
}
.pt-10{
  padding-top: 10px;
}
.contenido{
      padding-left: 90px;
      padding-right: 45px;
      background: white;
}
form {
    padding: 25px;
    padding-top: 0px !important;
}
select.form-control {
    background-color: #dadada;
}

.numbers h3 {
  background: #48d8ff;
  color: #001923;
  padding: 10px;
  line-height: initial;
  text-align: center;
}

h3 {
    background: #001923;
    color: white;
    padding: 10px;
    line-height: initial;
}
.grey-left{
    background: #dadada;
    margin-right: 10px;
    margin-bottom: 10px;
}
.grey-right{
    background: #dadada;
    margin-bottom: 10px;
}

.grey-full{
    background: #dadada;
}
.mleft-5{
    margin-left: 5px;
}
.mleft-10{
    margin-left: 10px;
}
.mleft-20{
    margin-left: 20px;
}
.mleft-50{
    margin-left: 50px;
}
.mbottom-5{
    margin-bottom: 5px;
}
.mbottom-10{
    margin-bottom: 10px;
}
.mtop-5{
    margin-top: 5px;
}
.mtop-10{
    margin-top: 10px !important;
}
.mtop-25{
  margin-top: 25px !important;
}

.my-10{
  margin-bottom: 10px;
  margin-top: 10px;
}

.p-3{
    padding: 3px;
}
.p-5{
    padding: 5px;
}
.pleft-10 {
    padding-left: 10px;
}
.text-center{
  text-align: center;
}
.white{
  color: white;
}
textarea#comment {
    background-color: #dadada;
    margin-bottom: 10px;
}
button.btn.btn-default {
    width: 100%;
    background-color: #001923;
    color: white;
    font-size: 25px;
}
html{
  font-weight: 300;
}
label{
  font-weight: 500;
}
table{
  width: 90%;
}
td{
  text-align: right;
  padding: 3px;
}
.icono{
  width: 4%;
}
 table #mojana{
  text-align: center;
  width: 80% !important;
  margin: 0 auto !important;
}
#mojana th {
    padding: 14px;
    border: 5px solid white;
}
#mojana td{
  padding: 14px;
  border: 5px solid white;
}
.title{
  text-align: center;
  background-color: #a0f5fc;
  color: #112b44;
}
.arrow{
  text-align: center;
  background-color: #a0f5fc;
  color: #112b44;
}
.ver {
    color: #798c90;
    background-color: rgba(160, 245, 252, 0.82);
}
.titlefooter{
  background-color: #063040;
  color: #62d8f6;
}
.title-objetivos{
    writing-mode: vertical-lr;
    transform: rotate(270deg);
    color: white;
    background-color: #063040;
}
.ambiental{
  background-color: #575755;
  color: white;
}
.social{
  background-color: #00963f;
  color: white;
}
.economico{
  background-color: #009fe3;
  color: white;
}
.tr-ambiental{
  background-color: #575755;
  text-align: center;
}
.tr-social{
  background-color: #00963f;
}
.tr-economico{
  background-color: #009fe3;
}

/*
.container {
    border-bottom: 5px solid;
}
*/
