/*@media (max-width: 600px) {

  } */
@media only screen and (max-width: 1239px) and (min-width: 960px){
	.contenido{
	padding-right: 0px;
	padding-left: 0px;
	}
	.mleft-10 {
    margin-left: 0px;
	}

	.mleft-5 {
    margin-left: 0px;
	}

	#map {
    width: 325px;
	}
	.container {
    border-bottom: 0px solid;
	}
	.container {
	margin-left: 0px;
	}
	.col-xs-3 {
    width: 24% !important;
	}
	.col-xs-6 {
    width: 48.5%;
	}
}

@media only screen and (max-width: 959px) and (min-width: 768px){
	.col-xs-6 {
    width: 100%;
	}
	
	.contenido{
	padding-right: 0px;
	padding-left: 0px;
	}
	
	.col-xs-3 {
    width: 40% !important;
	}

	.mleft-10 {
    margin-left: 0px;
	}

	.mleft-5 {
    margin-left: 0px;
	}

	#map {
    width: 325px;
	}
	.container {
    border-bottom: 0px solid;
	}
	.container {
	margin-left: 0px;
	}

}

@media only screen and (max-width: 767px){
	.col-xs-6 {
    width: 100%;
	}
	
	.contenido{
	padding-right: 0px;
	padding-left: 0px;
	}
	
	.col-xs-3 {
    width: 40% !important;
	}

	.mleft-10 {
    margin-left: 0px;
	}

	.mleft-5 {
    margin-left: 0px;
	}

	#map {
    width: 325px;
	}
	.container {
    border-bottom: 0px solid;
	}
	.container {
	margin-left: 0px;
	}
}
